$brown: #B37D32;
$paper: #FFEFD9;
$tan: #FFBD61;
$darkBlue: #207AB3;
$lightblue: #61C2FF;

$titleFont:'Josefin Slab', serif;
$mainFont: 'Nunito', sans-serif;

*{
    font-family: $mainFont;
}

.toolbar{
    box-sizing: border-box;
    font-size: 2em;
    height: 10vh;
    min-height: 40px;
    color: $brown;
    padding: 10px;
    overflow: none;
    button{
        background: none;
        border: none;
        color: $brown;
        font-size: 1em;;
    }
    #colorPicker{
        display: none;
    }
}

.graph{
    width: 500px;
    height: 400px;
    float: right;
}

.dcg-graphpaper-branding {
    display: none !important;
}

#drawing{
    box-sizing: border-box;
    position: absolute;
    top: 10vh;
    padding: 0;
    height: 90vh;

    .path {
        position: relative;
        z-index: 1;
    }
}

.front{
    position: relative;
    z-index: 3;
}

#textArea{
    box-sizing: border-box;
    padding: 50px;
    margin: 0;
    background: none;
    border: none;
    font-size: 16pt;
    position: relative;
    z-index: 1;

    .bold{
        font-weight: bold;
    }

    .underline{
        text-decoration: underline;
    }

    .italic{
        font-style: italic;
    }

    .strikethrough{
        text-decoration: line-through;
    }
    
    .highlight{
        background: $lightblue;
    }
        
}

body {
    background: $paper;
    padding: 0;
    margin: 0;
}